// Bootswatch
@import "../node_modules/bootswatch/dist/flatly/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/flatly/bootswatch";

//toastr
@import '~ngx-toastr/toastr.css';

$georgia-cambria-tnr-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-size-eighteen-px: 18px;

.block-error-message {
  display: block;
}

.dataTables_empty {
  display: none;
}

.no-data-available {
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
}