GenericAngularService.Api/GenericAngularService.Api/obj/
GenericAngularService.Api/GenericAngularService.Api/bin/
GenericAngularService.Api/.vs/GenericAngularService.Api/v15/Server/sqlite3/db.lock
GenericAngularService.Api/.vs/GenericAngularService.Api/DesignTimeBuild/.dtbcache
GenericAngularService.Api/.vs/GenericAngularService.Api/v15/.suo
GenericAngularService.Api/.vs/config/applicationhost.config
GenericAngularService.Api/.vs/GenericAngularService.Api/v15/Server/sqlite3/storage.ide-wal
GenericAngularService.Api/.vs/GenericAngularService.Api/v15/Server/sqlite3/storage.ide-shm
GenericAngularService.Api/.vs/GenericAngularService.Api/v15/Server/sqlite3/storage.ide
/GenericAngularService.Api/GenericAngularService.Api.UnitTests/obj
/GenericAngularService.Api/GenericAngularService.Api.UnitTests/bin/Debug/netcoreapp2.1
/GenericAngularService.Api/GenericAngularService.Api/appsettings.production.json
/GenericAngularService.Api/GenericAngularService.Api/Properties/PublishProfiles
GenericAngularService.Api/.vs/GenericAngularService.Api/config/applicationhost.config
GenericAngularService.Api/.vs/GenericAngularService.Api/v16/.suo
GenericAngularService.Api/.vs/GenericAngularService.Api/DesignTimeBuild/.dtbcache.v2
