<div class="container mt-5">
  <section class="card card-lg">
    <h1 class="text-xxxl my-3 text-center">- About Angular Company Manager -</h1>

    <div class="text-xs text-justify m-x-auto">
      <p class="m-b-xs px-5">I created this project to improve my Angular skills by writing a small
        application with some CRUD operations.
        Main goal was to create a generic and reusable service to fetch data from web api and then view it on a
        webpage.
      </p>

      <p class="m-b-xs px-5">Such service is extremely useful as it greatly reduces amount of code which has to be
        written
        to get data from an external data source.
        Additionally it's very easy to unit test and flexible when it comes to extend it with additional features.
      </p>

      <div class="m-b-xs px-5">
        <p>Technologies Used:</p>
        <ul>
          <li>Angular 6</li>
          <li>Angular Datatables</li>
          <li>Angular FontAwesome</li>
          <li>ASP.NET Core Web Api</li>
          <li>Bootstrap 4</li>
          <li>Bootswatch</li>
          <li>Dynamic Linq</li>
          <li>Entity Framework Core</li>
          <li>Jasmine</li>
          <li>Karma</li>
          <li>NgBootstrap</li>
          <li>NUnit</li>
          <li>SQL Server</li>
          <li>Toastr</li>
        </ul>
      </div>

      <p class="m-b-xs px-5">
        <a href="https://bitbucket.org/mateusz_kikmunter/generic-angular-service">Source Code</a>
      </p>

      <div class="mb-3 pl-5">
        <a class="btn btn-success" [routerLink]="['/']">
          <fa-icon [icon]="arrowLeft"></fa-icon> &nbsp;Back
        </a>
      </div>
    </div>
  </section>
</div>
