<div class="container mt-5">
  <section class="card card-lg">
    <h1 class="text-xxxl my-3 text-center">- About Generic Angular Service -</h1>
    
    <div class="text-xs text-justify m-x-auto">
      <p class="m-b-xs px-5">I created this project to improve my Angular 2+ skills by writing a very basic
        application with some CRUD operations.
        Main goal was to create a generic and reusable service to fetch data from web api and then view it on a
        webpage.
      </p>

      <p class="m-b-xs px-5">Such service is extremely useful as it greatly reduces amount of code which has to be written
        to get data from an external data source.
        Additionally it's very easy to unit test and flexible when it comes to extend it with additional features.
      </p>
    </div>
  </section>
</div>
