<div class="container">
  <h1 class="text-center my-3">- All companies -</h1>

  <div class="btn-group mb-2">
      <button type="button" class="btn btn-outline-success" (click)="createCompany()">Create</button>
      <button type="button" class="btn btn-outline-warning" (click)="editCompany()">Edit</button>
      <button type="button" class="btn btn-outline-danger" (click)="deleteCompany()">Delete</button>
      <button *ngIf="select.selectedItem" class="btn btn-outline-dark" (click)="showCompany()">{{ select.selectedItem?.name }} selected</button>
    </div>

  <table id="company-table" class="table table-hover table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Industry</th>
        <th>Founded</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies" (click)="select.selectRow(company)" 
      [ngStyle]="{ 'color': select.selectedItem?.id === company.id ? 'white' : 'black' }" 
      [ngClass]="{ 'bg-info': select.selectedItem?.id === company.id }">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.industry }}</td>
        <td>{{ company.founded | date: "yyyy-MM-dd" }}</td>
      </tr>
      <tr *ngIf="companies?.length === 0">
        <td colspan="4" class="no-data-available">No data!</td>
      </tr>
    </tbody>
  </table>
</div>
