<div class="container">
  <h1 class="text-center my-3">- List of all employees -</h1>

  <table id="employee-table" datatable [dtOptions]="dtOptions" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Company</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.company }}</td>
        <td><fa-icon [icon]="renderEmployeeActive(employee.active)"></fa-icon></td>
      </tr>
      <tr *ngIf="employees?.length == 0">
        <td colspan="4" class="no-data-available">No data!</td>
    </tr>
    </tbody>
  </table>
</div>
