@import '../../styles.scss';

.container {
    font-family: $georgia-cambria-tnr-serif;
}

p {
    font-size: $font-size-eighteen-px;
}

#employee-table {
    cursor: pointer;

    tr, td {
        text-align: center;
    }
}

.no-data-available {
    text-align: center;
}